@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400&display=swap");

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.bg-image-1 {
  background-image: url('https://images.unsplash.com/photo-1605379399642-870262d3d051?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2106&q=80');
}

.bg-image-2 {
  background-image: url('https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
}

.bg-image-3 {
  background-image: url('https://images.unsplash.com/photo-1607798748738-b15c40d33d57?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
}

.carousel-image {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section-title {
  margin-bottom: 3rem;
  position: relative;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: #dc3545;
}

.section-title:after {
  content: "";
  position: absolute;
  display: block;
  width: 6rem;
  height: 5px;
  background: #000;
  top: 50px;
  left: calc(50% - 3rem);
}


.about-title {
  color: #131313;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 50px;
}

.about-paragraph {
  color: #131313;
  font-size: 1.125rem;
  line-height: 1.5;
}

section {
  margin: 80px 0;
}

@media screen and (max-width: 600px) {
  .about-title {
    font-size: 2rem;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
  }

  .about-paragraph {
    text-align: justify;
    margin: 5px;
  }
}